.container {
  background-color: var(--gray-600);
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 44px;
  border-radius: 54px;
}

.first_banners_container { 
  display: flex;
  gap: 16px
}

.second_banners_top {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .second_banners_top {
    margin-bottom: 0;
  }

  .banners {
    width: 220px;
  }

  .baners_right {
    width: 260px;
  }
  .baners_right img {
    width: 100%;
  }

  .banner_horizontal {
    width: 40px;
  }

  .banner_horizontal img {
    width: 524px;
  }
}

@media (max-width: 769px) {
  .second_banners_container {
    display: none;
  }
}

@media (max-width: 427px) {
  .banners {
    width: 170px;
  }
}

