.container {
  background-color: var(--gray-600);
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 44px;
  border-radius: 54px;
}

.first_banners_container { 
  display: flex;
  flex-direction: column;
  gap: 16px
}

.second_banners_top {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.first_banners_container {
  flex-direction: row;
}

.second_banners_container {
  display: none;
}

.banners {
  width: 150px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: column;
  }

  .banners {
    width: 250px;
  } 
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }

  .banners {
    width: 215px;
  } 

  .baners_right {
    width: 243px;
  }

  .baners_right img {
    width: 100%;
  }

  .banner_horizontal img {
    width: 495px;
  }

  .second_banners_container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1300px) {
  .container {
    flex-direction: row;
    width: 100%;
  }

  .first_banners_container {
    flex: 1;
    height: 100%;
  }

  .banners {
    flex: 1;
  }

  .second_banners_container {
    width: 50%;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  .second_banners_top {
    flex: 1;
  }

  .baners_right {
    width: 100%;
  }

  .baners_right img {
    width: 100%;
    height: 90%;
  }

  .banner_horizontal img {
    width: 100%;
    height: 100%;
  }
}