.success_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  margin-bottom: 50px;
}

.success_title {
  text-align: center;
  font-size: 24px;
  color: var(--blue-600);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.success_animation_container {
  background-color: #ECECEC;
  border-radius: 10px;
}

.success_description {
  text-align: center;
  color: var(--gray-900);
  font-weight: 600;
  font-size: 14px;
  margin-top: 14px;
}

@media (min-width: 1024px) {
  .success_title {
    font-size: 40px;
  }

  .success_description {
    font-size: 20px;
  }
}