.main {
  display: flex;
  flex-direction: column;
  padding: 43px;
  padding-top: 35px;
  gap: 20px;
  background-repeat: no-repeat;
  background-image: url('../../assets/catalogBackgroundMobile.png');
  background-size: cover;
  background-position: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
}

.buttonMobile {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: var(--blue-600);
  background-color: var(--white);
  padding: 14px 60px;
  border-radius: 34px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  display: none;
}  

.infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

.title {
  font-weight: 600;
  color: var(--white);
  text-align: center;
  font-size: 36px;
}

.divisorLine {
  display: block;
  width: 170px;
  margin: auto;
  height: 3px;
  margin-top: 4px;
  border-radius: 50px;
  background: linear-gradient(90deg, #2690FE 0%, #FFFFFF 100%);
}

.catalog {
  color: var(--dark-blue-700);
}

.decription {
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  color: var(--white)
}

.image {
  margin-right: 10%;
  height: auto;
  width: 250px;
  margin: auto;
}

@media (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-image: url('../../assets/catalogBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    background-position: top;
    padding-bottom: 90px;
  }

  .infos {
    align-items: flex-start;
    padding-top: 80px;
    width: 50%;
    margin: 0;
  }
  
  .title {
    display: flex;
    gap: 10px;
    text-align: left;
  }

  .divisorLine {
    width: 100%;
  }
  
  .decription {
    font-weight: 400;
    text-align: left;
  }

  .catalog {
    font-style: italic;
    font-weight: 500;
  }

  .buttonMobile {
    display: none;
  }

  .button {
    display: block;
    font-weight: 600;
    color: var(--blue-600);
    background-color: var(--white);
    padding: 14px 60px;
    border-radius: 34px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: auto;
    font-size: 16px;
  }

  .image {
    margin: 0;
    width: 300px;
  }
}

@media (min-width: 1440px) {
  .main {
    padding-top: 80px;
    padding-bottom: 115px;
  }

  .infos {
    max-width: 700px;
  }

  .title {
    font-size: 60px;
  }

  .decription {
    font-size: 20px;
  }

  .button {
    font-size: 24px;
  }

  .image {
    width: 380px;
  }
}

@media (min-width: 2250px) {
  .main {
    gap: 100px;
  }
}
