/* .main {
  display: flex;
  background-image: url('https://i.postimg.cc/HsWvrSxr/Group-481593.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9%;
  margin-top: 70px;
  } */
  
.main {
  display: flex;
  flex-direction: column;
  padding: 43px;
  padding-top: 35px;
  gap: 20px;
  background-repeat: no-repeat;
  background-image: url('https://i.postimg.cc/CxRxfsS3/Frame-8.png');
  background-size: cover;
  background-position: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
}

.buttonMobile {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: var(--blue-600);
  background-color: var(--white);
  padding: 14px 60px;
  border-radius: 34px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  display: none;
}  

.infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

.title {
  font-weight: 600;
  color: var(--white);
  text-align: center;
  font-size: 36px;
}

.catalog {
  color: var(--dark-blue-700);
}

.decription {
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  color: var(--white)
}

.image {
  margin-right: 10%;
  height: auto;
  width: 250px;
  margin: auto;
}

/* .button {
  font-weight: 600;
  color: var(--blue-600);
  background-color: var(--white);
  padding: 14px 60px;
  border-radius: 34px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  font-size: 16px;
} */