.main {
  display: flex;
  background-image: url('https://i.postimg.cc/HsWvrSxr/Group-481593.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9%;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  margin: auto;
}

.title {
  font-size: 60px;
  font-weight: 600;
  color: var(--white)
}

.catalog {
  color: var(--dark-blue-700);
}

.decription {
  font-size: 22px;
  font-weight: 400;
  color: var(--white)
}

.button {
  font-size: 22px;
  font-weight: 600;
  color: var(--blue-600);
  background-color: var(--white);
  padding: 14px 60px;
  margin-right: 50%;
  border-radius: 34px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image {
  margin-right: 10%;
  width: 450px;
  height: auto;
}

.buttonMobile {
  display: none;
}

@media (max-width: 426px) {
  .main {
    flex-direction: column;
    padding: 43px;
    gap: 20px;
    background-image: url('https://i.postimg.cc/CxRxfsS3/Frame-8.png');
    background-size: contain;
  }

  .buttonMobile {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: var(--blue-600);
    background-color: var(--white);
    padding: 14px 60px;
    border-radius: 34px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .button {
    display: none;
  }
}

@media (max-width: 769px) {
  .main {
    padding: 43px;
    gap: 20px;
    background-size: contain;
  }

  .infos {
    margin: 0;
    gap: 0;
    width: auto;
  }

  .title {
    font-size: 36px;
    text-align: center;
  }

  .decription {
    text-align: center;
    font-size: 14px;
  }

  .image {
    width: 250px;
    margin: auto;
  }
  .button{
    margin: auto;
    font-size: 16px;
  }
}