.background {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
  z-index: 102;
}

.searchBar_background {
  background-color: var(--blue-700);
  display: flex;
  justify-content: center;
  padding: 0 14px;
  padding-top: 65px;
  padding-bottom: 24px;
  color: var(--white);
}

.searchBar_container {
  display: flex;
  align-items: center;
  gap: 11px;
  flex: 1;
  max-width: 550px;
}

.searchBar {
  display: flex;
  background-color: var(--white);
  align-items: center;
  padding: 8px 10px;
  border-radius: 50px;
  flex: 1;
  justify-content: space-between;
}

.search {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px
}

.search button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.search input {
  flex: 1;
  font-size: 12px;
  border: none;
  outline: none;
}

.searchIcon {
  width: 17px;
  height: 17px;
  color: #8F8F8F
}

.products_list_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.title_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 29px 24px;
  font-size: 18px;
  padding-bottom: 0;
  max-width: 550px;
}

.title_container_search {
  font-weight: 600;
  text-transform: capitalize;
  max-width: 550px;
}

.products_container {
  max-width: 550px;
}

.notFound_text {
  padding: 40px 0;
}

@media (min-width: 768px) {
  .searchBar_container {
    font-size: 18px;
  }

  .searchBar {
    padding: 12px 16px;
  }

  .search input {
    flex: 1;
    font-size: 18px;
  }

  .products_list_container {
    padding-bottom: 160px;
  }
}
