.main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  max-width: 1400px;
  margin: auto;
}

.infos {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: var(--gray-900);
  font-size: 18px;
  gap: 22px;
}

.menus_container {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.links{ 
  display: flex;
  align-items: center;
  gap: 4px;
}

.sac_title {
  font-weight: bold;
  color: var(--blue-600);
}

.main_right {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 40px;
  color: var(--gray-900);
}

.address_container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-weight: 400;
}

.address_title {
  color: var(--blue-600);
  font-weight: bold;
  margin-bottom: 10px;
}

.social_container {
  display: flex;
  flex-direction: column;
  color: var(--blue-600);
  font-weight: bold;
  gap: 18px
}

.social_images {
  display: flex;
  gap: 40px
}

.contact_title {
  font-weight: bold;
  color: var(--blue-600);
  margin-bottom: 10px;
}

@media (max-width: 769px) {
  .main {
    flex-direction: column;
    margin: auto;
    padding-bottom: 26px;
    align-items: center;
  }

  .infos {
    width: 80%;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
  
  .arrow {
    height: 12px;
  }
  
  .sac_container {
    display: none;
  }
  
  .main_right {
    width: 80%;
    margin-top: 30px;
  }
  
  .social_container {
    display: none;
  }
  
  .contact_container {
    display: none;
  }
}

@media (max-width: 426px) {
  .main {
    flex-direction: column;
    margin: 20px;
    margin-bottom: 0;
    padding-bottom: 26px;
  }
  
  .infos {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
  
  .arrow {
    height: 12px;
  }
  
  .sac_container {
    display: none;
  }
  
  .main_right {
    width: 100%;
    margin-top: 30px;
  }
  
  .social_container {
    display: none;
  }
  
  .contact_container {
    display: none;
  }
}