.container {
  display: flex;
  border-radius: 8px;
  background-color: #F6F6F6;
  box-shadow: 0px 3.58769px 3.58769px rgba(0, 0, 0, 0.25);
}

.image {
  width: 100px;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.date {
  font-size: 11px;
  font-weight: 300;
  font-style: italic;
  color: #565656;
}

.button {
  color: var(--white);
  background-color: var(--blue-600);
  font-style: italic;
  font-weight: 600;
  font-size: 11px;
  padding: 4px 24px;
  white-space: nowrap; 
  border-radius: 3px;
  align-self: flex-start;
}

@media (min-width: 768px) {
  .image {
    width: 200px;
  }

  .title {
    font-size: 20px;
  }

  .date {
    font-size: 16px;
  }

  .button {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .image {
    width: 120px;
  }

  .title {
    font-size: 15px;
  }

  .date {
    font-size: 11px;
  }

  .button {
    font-size: 11px;
  }
}