.main {
  display: flex;
  max-width: 1400px;
  margin: auto;
  padding-top: 54px;
  padding-bottom: 150px;
}

.title {
  font-size: 44px;
  font-weight: 500;
}

.text {
  font-size: 20px;
  color: var(--gray-900);
  font-weight: 400;
  margin-top: 52px;
  text-align: justify;
  margin-right: 100px;
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    justify-content: center;
    gap: 0;
    padding: 0;
    padding-top: 80px;
    margin: 80px;
  }

  .image {
    display: none;
    width: 300px;
    height: 300px;
  }

  .divisorLine {
    display: block;
    width: 98%;
    height: 4px;
    background: linear-gradient(90deg, #FFFFFF 2.53%, #1887FF 100%);
    border-radius: 40px;
    margin-bottom: 40px;
    margin-top: 50px;
  }
}

@media (max-width: 769px) {
  .main {
    flex-direction: column;
    padding: 24px;
    gap: 29px;
    margin-top: 120px;
  }

  .title {
    font-size: 21px;
  }

  .text {
    font-size: 12px;
    margin-top: 21px;
    font-weight: 500;
  }

  .divisorLine {
    display: block;
    width: 98%;
    height: 4px;
    background: linear-gradient(90deg, #FFFFFF 2.53%, #1887FF 100%);
    border-radius: 40px;
    margin-bottom: 40px;
  }
}