.main {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin: 0 25px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.line {
  display: block;
  width: 220px;
  height: 3px;
  background: linear-gradient(90deg, #FFFFFF 2.53%, #1887FF 100%);
  border-radius: 40px;
}

.text {
  font-size: 12px;
  color: var(--gray-900);
  font-weight: 400;
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 40px;
}

.image {
  width: 100%;
  height: 100%;
}

.divisorLine {
  display: block;
  width: 98%;
  height: 4px;
  background: linear-gradient(90deg, #FFFFFF 2.53%, #1887FF 100%);
  border-radius: 40px;
  margin: 20px 0;
}

@media (min-width: 768px) {
  .main {
    margin: 0 80px;
    align-items: center;
  }
  
  .image {
    width: 60%;
    margin-top: 40px;
  }

  .divisorLine {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .main {
    flex-direction: row;
    gap: 100px;
    margin: 20px;
    margin-bottom: 80px;
    padding-top: 50px;
  }

  .line {
    width: 385px;
  }

  .title {
    font-size: 35px;
  }

  .text {
    font-size: 14px;
  }

  .divisorLine {
    display: none;
  }

  .image {
    width: 40%;
  }
}

@media (min-width: 1440px) {
  .main {
    max-width: 1440px;
    margin: auto;
    gap: 200px;
    margin-bottom: 80px;
  }
}