.main {
  display: flex;
  max-width: 1400px;
  margin: auto;
  padding-top: 54px;
  padding-bottom: 150px;
  gap: 110px
}

.title {
  font-size: 44px;
  font-weight: 500;
}

.text {
  font-size: 20px;
  color: var(--gray-900);
  font-weight: 400;
  margin-top: 52px;
  text-align: justify;
}