.main {
  display: flex;
  max-width: 1400px;
  margin: auto;
  padding-top: 54px;
  padding-bottom: 150px;
  gap: 110px
}

.title {
  font-size: 44px;
  font-weight: 500;
}

.text {
  font-size: 20px;
  color: var(--gray-900);
  font-weight: 400;
  margin-top: 52px;
  text-align: justify;
}

@media (max-width: 426px) {
  .main {
    flex-direction: column;
    padding: 24px;
    gap: 29px
  }

  .title {
    font-size: 21px;
  }

  .text {
    font-size: 12px;
    margin-top: 21px;
    font-weight: 500;
  }
}