.title_container {
  display: flex;
  flex-direction: column;
}

.title1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  color: var(--blue-600);
  text-align: center;
}

.title2 {
  font-family: var(--font-mrDafoe);
  font-size: 64px;
  color: var(--gray-700);
  position: relative;
  text-align: center;
  top: -30px;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 36px
}

.form_container input {
  font-size: 24px;
  border: none;
  outline: none;
  padding-bottom: 8px;
  border-bottom: solid 2px #000;
}

.checkbox_container {
  display: flex;
  gap: 10
}

.checkbox {
  display: block;
  border: 2px solid #000;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.button {
  display: flex;
  background-color: var(--green-600);
  color: var(--white);
  font-weight: bold;
  padding: 16px;
  border-radius: 30px;
  outline: none;
  border: none;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 100%;
  margin-top: 34px;
}

@media (max-width: 426px) {
  .title1 {
    font-size: 24px;
  }

  .title2 {
    font-size: 33px;
    top: -15px;
  }

  .form_container input {
    font-size: 17px;
  }

  .button {
    font-size: 12px;
    margin-bottom: 23px;
  }
}