.main {
  display: flex;
  flex-direction: column;
  width: 88%;
  margin: 0 20px;
}

.title_container {
  display: flex;
  flex-direction: column;
}

.title1 {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--blue-600);
  text-align: center;
  font-size: 22px;
}

.title2 {
  font-family: var(--font-mrDafoe);
  color: var(--gray-700);
  position: relative;
  text-align: center;
  font-size: 33px;
  top: -15px;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.input_container {
  display: flex;
  flex-direction: column;
}

.input {
  border: none;
  outline: none;
  border-radius: 0;
  padding-bottom: 8px;
  border-bottom: solid 2px #000;
  font-size: 17px;
}

.error_message {
  font-size: 12px;
  margin-top: 5px;
  font-weight: 500;
  color: #f34646;
}

.checkbox_container {
  display: flex;
  gap: 10px;
  user-select: none;
  color: #757575;
  font-weight: 500;
}

.checkbox_container:hover {
  cursor: pointer;
}

.checkbox {
  display: block;
  border: 2px solid #000;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.button {
  display: flex;
  background-color: var(--green-600);
  color: var(--white);
  font-weight: bold;
  padding: 16px;
  border-radius: 30px;
  outline: none;
  border: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 34px;
  font-size: 12px;
  margin-bottom: 23px;
}

.button:hover {
  cursor: pointer;
}

.error_input {
  border-radius: 0;
  border: none;
  outline: none;
  padding-bottom: 8px;
  border-bottom: solid 2px #f34646;
  font-size: 17px;
}

.error_input::placeholder {
  color: #f34646;
}

.checkbox_checked {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 3.5px;
}

.success_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  margin-bottom: 50px;
}

.success_title {
  text-align: center;
  font-size: 24px;
  color: var(--blue-600);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.success_animation_container {
  background-color: #ECECEC;
  border-radius: 10px;
}

.success_description {
  text-align: center;
  color: var(--gray-900);
  font-weight: 600;
  font-size: 14px;
  margin-top: 14px;
}

@media (min-width: 375px) {
  .main {
    width: 88%;
  }

  .title1 {
    font-size: 24px;
  }
  
  .title2 {
    font-size: 33px;
    top: -12px;
  }
}

@media (min-width: 425px) {
  .main {
    width: 91%;
  }
}

@media (min-width: 768px) {
  .main {
    margin: 0 80px;
    width: 78%;
  }
}

@media (min-width: 1024px) {
  .main {
    width: 40%;
    margin: 0;
  }
  
  .form_container {
    width: auto;
  }

  .title1 {
    font-size: 30px;
  }

  .title2 {
    font-size: 40px;
  }

  .button {
    font-size: 18px;
  }

  .success_title {
    font-size: 40px;
  }

  .success_description {
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .main {
    width: 30%;
  }
}