.main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.container {
  background-color: var(--gray-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  padding-right: 48px;
  margin-top: 66px;
  margin-bottom: 66px;
}

.products_images {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.product_image_detail_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border: 2px solid var(--black);
  border-radius: 8;
  background-color: var(--white);
}

.product_image_detail {
  width: 100px;
}

.main_image_container {
  width: 500px;
  padding: 50px;
}

.product_infos_container {
  width: 430px;
  text-align: justify;
}

.product_name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 14px;
}

.sizes_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.sizes_title {
  font-size: 28px;
  font-weight: 500;
}

.sizes {
  display: flex;
  gap: 7px
}

.size {
  border: 1px solid var(--black);
  padding: 4px 10px;
  border-radius: 8px;
  font-weight: 500;
}

.contact_container {
  display: flex;
  align-items: center;
  height: 76px;
  margin-top: 26px;
}

.contact_img {
  position: absolute;
  width: 76px;
}

.contact {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--green-600);
  color: var(--white);
  font-weight: 600;
  margin-left: 30px;
  padding: 12px 57px;
  border-radius: 100px;
}