.main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.container {
  background-color: var(--gray-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  margin-top: 66px;
  margin-bottom: 66px;
}

.products_images {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.product_image_detail_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border: 2px solid var(--black);
  border-radius: 8px;
  background-color: var(--white);
}

.product_image_detail {
  width: 100px;
}

.main_image_container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.product_infos_container {
  width: 430px;
  text-align: justify;
}

.product_name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 14px;
}

.sizes_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.sizes_title {
  font-size: 28px;
  font-weight: 500;
}

.sizes {
  display: flex;
  gap: 7px
}

.size {
  border: 1px solid var(--black);
  padding: 4px 10px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.size:hover {
  cursor: pointer;
}

.selected_image {
  border-width: 3px;
}

.contact_container {
  display: flex;
  align-items: center;
  height: 76px;
  margin-top: 26px;
}

.contact_img {
  position: absolute;
  width: 65px;
}

.contact {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--green-600);
  color: var(--white);
  font-weight: 600;
  margin-left: 30px;
  border-radius: 100px;
  font-size: 12px;
  width: 100%;
  padding: 8px;
}

.images_container {
  display: flex;
  justify-content: space-around;
  padding-right: 38px;
  flex: 1;
}

.selected_size {
  border-width: 3px;
}

@media (max-width: 426px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 24px;
  }
  
  .product_image_detail_container {
    width: 70px;
    height: 70px;
  }

  .product_image_detail {
    width: 80%;
  }

  .product_infos_container {
    width: 100%;
  }

  .product_infos_texts {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px
  }

  .product_name {
    font-size: 16px;
  }

  .product_description {
    font-size: 12px;
  }

  .sizes_title {
    font-size: 16px;
  }

  .size {
    font-size: 12px;
  }

  .whatsapp_icon {
    width: 15px;
  }
}

@media (min-width: 768px) {
  .images_container {
    padding-right: 0;
  }

  .product_image_detail_container {
    width: 100px;
    height: 100px;
  }

  .main_image_container {
    width: 80%;
  }
  
  .product_image_detail {
    width: 80px;
  }

  .product_infos_container {
    width: 300px;
  }

  .product_name {
    font-size: 20px;
  }

  .product_description {
    font-size: 12px;
  }

  .sizes_title {
    font-size: 18px;
  }

  .size {
    font-size: 12px;
  }

  .whatsapp_icon {
    width: 20px;
  }
}

@media (min-width: 1024px) {
  .main_image_container {
    width: 400px;
  }

  .images_container {
    justify-content: flex-start;
  }

  .product_infos_container {
    width: 45%;
  }

  .product_name {
    font-size: 26px;
  }

  .product_description {
    font-size: 25px;
  }

  .sizes_title {
    font-size: 20px;
  }

  .size {
    font-size: 16px;
  }

  .product_description {
    font-size: 16px;
  }

  .contact {
    font-size: 18px;
    padding: 14px 60px;
    width: auto;
  }

  .contact_img {
    width: 80px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 80px;
  }

  .images_container {
    gap: 100px;
  }
}