.container {
  display: flex;
  flex-direction: column;
  border: 1.64px solid #000;
  padding: 24px 16px;
  border-radius: 20px;
  width: 180px;
}

.product_name {
  font-size: 18px;
  font-weight: 600;
}

.product_type {
  font-size: 11px;
  font-weight: 300;
}

.product_infos_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  margin-top: 4px;
}

.product_description {
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 8px;
  height: 30px;
  line-clamp: 3;
  box-orient: vertical;
}

.product_button {
  text-align: center;
  background-color: var(--blue-600);
  color: var(--white);
  font-weight: 600;
  padding: 6px 0;
  border-radius: 6px;
  font-size: 10px;
  margin-top: 10px;
}

.image {
  min-height: 150px;
  max-height: 170px;
  margin-bottom: 8px;
  margin-bottom: 8px;
  align-self: center;
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 380px;
  }

  .image {
    min-height: 150px;
    max-height: 200px;
    margin-bottom: 8px;
    margin-bottom: 8px;
    max-width: 200px;
  }

  .product_name {
    font-size: 18px;
  }
  
  .product_type {
    font-size: 18px;
  }

  .product_description {
    font-size: 12px;
  }

  .product_button {
    font-size: 16px;
  }
}