.infos_container {
  max-width: 540px;
}

.title {
  font-size: 26px;
  color: var(--blue-600)
}

.description {
  font-size: 48px;
  margin-bottom: 35px;
}

@media (max-width: 426px) {
  .image {
    display: none;
  }

  .title {
    font-size: 12px;
  }

  .description {
    font-size: 24px;
    font-weight: 500;
    margin-right: 40px;
  }
}