
.infos_container {
  display: none;
}

@media (min-width: 1024px) {
  .title {
    color: var(--blue-600);
    font-size: 20px;
    text-align: left;
    width: 100%;
  }

  .description {
    font-size: 30px;
    font-weight: 500;
    width: 80%;
    margin-bottom: 30px;
  }

  .infos_container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
}