:root {
  --background: #ffffff;
  --foreground: #171717;

  --white: #fff;

  --black: #000;
  
  --blue-600: #1887FF;
  --blue-700: #0077FF;

  --dark-blue-700: #00254F;

  --gray-550: #EFEFEF;
  --gray-580: #E2E2E2;
  --gray-600: #F3F3F3;
  --gray-700: #9A9A9A;
  --gray-800: #686868;
  --gray-900: #838383;

  --green-600: #2DB40F;

  --blue-linear-gradient: linear-gradient(181.11deg, #0077FF 6.16%, #005DC7 99.13%);

}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: white;
  }
}

.header {
  z-index: 101;
  position: fixed;
  width: 100%;
  background-color: var(--white);
}

.children {
  margin-top: 197px;
}

@media (max-width: 768px) {
  .children {
    margin-top: 142px;
  }
}

@media (max-width: 768px) {
  .children {
    margin-top: 100px;
  }
}
