:root {
  --background: #ffffff;
  --foreground: #171717;

  --white: #fff;

  --black: #000;
  
  --blue-600: #1887FF;
  --blue-700: #0077FF;

  --dark-blue-700: #00254F;

  --gray-600: #F3F3F3;
  --gray-700: #9A9A9A;
  --gray-900: #838383;

  --green-600: #2DB40F;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: white;
  }
}
