.banner {
  display: flex;
  width: 100vw;
  height: auto;
}

.product_emphasis_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px;
}

.product_emphasis_text {
  max-width: 424px;
}

.product_emphasis_title {
  font-size: 40px;
  font-weight: 600;
}

.product_emphasis_description {
  color: var(--gray-900);
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 45px;
  text-align: center;
}

.line {
  display: block;
  background-image: linear-gradient(to right, #fff, #1A88FF);
  height: 3px;
  margin-top: 4px;
} 

.product_emphasis_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px
}

.banners_container {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
}

.top_products_containers {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1400px;
  margin: auto;
}