.banner {
  display: flex;
  width: 100vw;
  height: auto;
}

.product_emphasis_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0;
}

.product_emphasis_text {
  max-width: 424px;
}

.product_emphasis_title {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.product_emphasis_description {
  color: var(--gray-900);
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 45px;
  text-align: center;
}

.line {
  display: block;
  background-image: linear-gradient(to right, #fff, #1A88FF);
  height: 3px;
  width: 80%;
  margin-top: 4px;
  margin: auto;
  border-radius: 8px;
} 

.product_emphasis_section {
  display: flex;
  justify-content: center;
  gap: 12px;
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.banners_container {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
}

.top_products_containers {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1400px;
  margin: auto;
}

.clients_container_mobile {
  display: none;
}

.main_banners {
  position: relative;
}

.buttons_swiper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding: 0 25px;
  width: 100vw;
  top: 45%
}

.buttons_swiper button {
  background-color: transparent;
  outline: none;
  border: none;
}

.next_image {
  width: 24px;
  height: 24px;
}

.banner_desck {
  width: 100vw;
  height: auto;
}

.banner_desck {
  display: none;
}

.clients_container {
  display: none;
}

.clients_container_mobile {
  display: block;
}

.product_emphasis_section {
  height: 380px;
}

.line_suppliers {
  display: block;
  width: 90%;
  height: 3px;
  background: linear-gradient(90deg, #FFFFFF 2.53%, #1887FF 100%);
  margin: 30px 0;
  margin-bottom: 10px;
  border-radius: 40px;
}

@media (min-width: 425px) {
  .product_emphasis_text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
  }

  .product_emphasis_title {
    font-size: 30px;
    margin: auto;
    width: 55%;
  }
  
  .line {
    width: 45%;
  }
  
  .product_emphasis_description {
    font-size: 13px;
    width: 70%;
    margin: auto;
  }
}

/* @media (max-width: 1025px) {
  .product_emphasis_section {
    height: 480px;
  }
}

@media (max-width: 769px) {
  .product_emphasis_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product_emphasis_title {
    text-align: center;
    margin: 0 50px;
    font-size: 30px;
  }
  
  .product_emphasis_description {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .line {
    width: 170px;
  }
  
  .buttons_swiper {
    top: 32%
  }

  .product_emphasis_section {
    height: 620px;
  }
} */