.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  height: 100%;
  gap: 8px;
  z-index: 100;
  width: 150px;
  border-radius: 8px;
  padding: 0 10px;
  box-shadow: 1.63873px 1.09248px 3.63251px rgba(0, 0, 0, 0.25), -2.03517px 9.5116px 18.6558px rgba(0, 0, 0, 0.48);
}

.line {
  display: block;
  position: absolute;
  width: 50%;
  background: #0077FF;
  top: 0;
  height: 6px;
  box-shadow: 0px 0px 176.664px #0077FF, 0px 0px 112.441px #0077FF, 0px 0px 65.5908px #0077FF, 0px 0px 4.68506px #0077FF;
}

.title {
  font-family: var(--font-josefin-sans);
  font-weight: 400;
  font-size: 16px;
}

.description {
  font-weight: 400;
  font-size: 8px;
}

@media (min-width: 768px) {
  .container {
    width: 250px;
    padding: 0 36px;
    border-radius: 26px;
    padding: 0 26px;
    box-shadow: 5.63013px 3.75342px 12.4801px rgba(0, 0, 0, 0.25), -6.99219px 32.6788px 64.0951px rgba(0, 0, 0, 0.48);
  }

  .line {
    box-shadow: 0px 0px 606.961px #0077FF, 0px 0px 386.312px #0077FF, 0px 0px 225.349px #0077FF, 0px 0px 16.0963px #0077FF;
    height: 12px;
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 36px;
    border-radius: 26px;
    padding: 0 26px;
    box-shadow: 5.63013px 3.75342px 12.4801px rgba(0, 0, 0, 0.25), -6.99219px 32.6788px 64.0951px rgba(0, 0, 0, 0.48);
  }

  .line {
    box-shadow: 0px 0px 606.961px #0077FF, 0px 0px 386.312px #0077FF, 0px 0px 225.349px #0077FF, 0px 0px 16.0963px #0077FF;
    height: 22.36px;
  }

  .title {
    font-size: 40px;
  }

  .description {
    font-size: 18px;
  }
}