.main_container {
  border: none;
  border-bottom: 1px solid #686868;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px;
  max-width: 1400px;
  margin: auto;
}

.links {
  display: flex;
  color: var(--gray-800);
  gap: 80px
}

.menus_container {
  box-shadow: 0px 7.31352px 18.2838px rgba(0, 0, 0, 0.25);
}

.menus {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--gray-800);
  z-index: 100;
  max-width: 1400px;
  margin: auto;
  text-transform: uppercase;
}

.mobile_menu {
  display: none;
}

.search_mobile {
  display: none;
}

.menu_categories {
  position: absolute;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--white);
  padding: 20px 24px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 4.48781px 4.48781px 4.48781px rgba(0, 0, 0, 0.25);
}

.menu_container:hover {
  cursor: pointer;
}

.openMenu {
  visibility: visible;
}

.closeMenu {
  visibility: hidden;
}

.dropMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 8px;
  padding: 20px 12px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0px 3.59025px 3.59025px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
}

.links:hover {
  cursor: pointer;
}

@media (max-width: 426px) {
  .main {
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
  }

  .logo {
    width: 40vw;
    padding-left: 23px;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .mobile_menu {
    display: block;
  }

  .search_mobile {
    display: block;
  }

  .links {
    display: none;
  }
  
  .menus_container {
    display: none;
  }
  
  .main_container {
    border-bottom: none;
  }
}