.main_container {
  border: none;
  border-bottom: 1px solid #686868;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px;
  max-width: 1400px;
  margin: auto;
}

.links {
  display: flex;
  color: var(--gray-800);
  gap: 80px
}

.menus_container {
  box-shadow: 0px 7.31352px 18.2838px rgba(0, 0, 0, 0.25);
}

.menus {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--gray-800);
  z-index: 100;
  max-width: 1400px;
  margin: auto;
}