.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px;
  border: none;
  border-bottom: 1px solid #686868;


}

.links {
  display: flex;
  color: var(--gray-800);
  gap: 80px
}

.menus {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  color: var(--gray-800);
  box-shadow: 0px 7.31352px 18.2838px rgba(0, 0, 0, 0.25);
  z-index: 100;
}