.categories_container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: 22px;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.categorySelected {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.category {
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.categories_container {
  flex-direction: column;
  overflow: auto;
  background-color: var(--white);
  padding: 16px 6px;
  border-radius: 8px;
  min-width: 250px;
}

.categorySelected {
  font-size: 16px;
  border-radius: 6px;
  color: var(--white);
  padding: 14px 10px;
  min-width: max-content;
  width: 100%;
  background: linear-gradient(88.67deg, #575757 1.86%, #000000 58.58%, #575757 101.51%);
  box-shadow: 0px 2.96243px 5.40644px rgba(0, 0, 0, 0.55), inset 0px 2.96243px 4.29552px -0.740608px rgba(0, 0, 0, 0.25);
}

.category {
  font-size: 16px;
  padding: 14px 10px;
  border-radius: 6px;
  background-color: var(--gray-650);
  min-width: max-content;
  width: 100%;
}
