.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.contactToast {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
  animation: 
    slideInRight 0.5s ease-out forwards,
    slideOutRight 0.5s ease-in forwards;
  animation-delay: 0s, 5s;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-600);
  padding: 20px;
  border-radius: 18px;
  color: var(--white);
  font-weight: 400;
  max-width: 400px;
  box-shadow: 0px 7.15px 7.15px 0px #00000040;
}

.triangule {
  content: "";
  position: absolute;
  right: 88px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid var(--blue-600);
}

.image_container {
  display: flex;
  align-items: flex-end;
}

.image {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  box-shadow: 0px 1.79px 3.58px 0px #00000040;
}

.status {
  position: absolute;
  right: 2px;
  width: 18px;
  height: 18px;
  background: #00D323;
  border-radius: 50%;
}

.floatWhatsapp {
  opacity: 0;
  animation: 
    slideInRight 0.5s ease-out forwards;
  animation-delay: 5s, 10s;
}

.to_top_button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  background-color: #0061D0;
  color: var(--white);
  padding: 8px 12px;
  gap: 8px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@media (max-width: 426px) {
  .text {
    font-size: 12px;
    max-width: 250px;
    padding: 14px;
  }

  .image {
    max-width: 50px;
    height: 50px;
  }

  .status {
    width: 12px;
    height: 12px;
  }

  .triangule {
    right: 60px;
  }
}

@media (min-width: 1024px) {
  .to_top_button {
    display: none;
  }
}