.main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
  max-width: 1400px;
  margin: auto;
  padding-top: 50px;
}

.groupName_title {
  font-size: 40px;
  font-weight: 800;
}

.groupName_label {
  font-size: 20px;
  font-style: 400;
  margin-top: 22px;
  margin-bottom: 22px;
}

.categories_container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 50%;
}

.categorySelected {
  font-weight: bold;
  font-size: 30px;
}

.category {
  font-size: 30px;
  font-weight: 400;
}

.products_title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 36px;
}

.products_container {
  display: grid;
  grid: auto-flow / repeat(4, 0.6fr);
  gap: 16px
}
