.form {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 20px;
  max-width: 1400px;
  margin: auto;
}

.medicallInfos {
  background-image: url('../../assets/background_footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}

.background {
  display: none;
}

@media (max-width: 769px) {
  .form {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 33px;
  }
  
  .medicallInfos {
    background-image: url('../../assets/background_footer_mobile.png');
  }

  .social_contact_container {
    display: flex;
    justify-content: center;
    background-color: var(--blue-600);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 32px;
    padding-bottom: 93px;
  }

  .background {
    display: block;
    background: rgba(24, 135, 255, 0.08);
  }
}

@media (max-width: 426px) {
  .medicallInfos {
    padding-top: 30px;
  }
}