.form {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 20px;
}

.medicallInfos {
  background-image: url('../../assets/background_footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}