.form {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 20px;
  max-width: 1400px;
  margin: auto;
}

.medicallInfos {
  background-image: url('../../assets/background_footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}