.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

.medicallInfos {
  background-image: url('../../assets/background_footer.png');
  background-size: contain;
  background-repeat: repeat;
  padding-top: 20px;
}

.background_infos {
  background-color: #EDF5FF;
}

.background {
  display: block;
  background: rgba(24, 135, 255, 0.08);
}

.social_contact_container {
  display: flex;
  justify-content: center;
  background-color: var(--blue-600);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-top: 32px;
  padding-bottom: 93px;
}

.divisor_line {
  display: block;
  width: 100%;
  transform: translateX(-24); 
  height: 3px;
  margin: 40px 0;
  background: linear-gradient(90deg, #F6F6F6 2.53%, #1887FF 100%);
  max-width: calc((100vw + 1400px) / 2);
}

@media (min-width: 768px) {
  .medicallInfos {
    padding-top: 40px;
  }

  .divisor_line {
    transform: translateX(-20); 
  }
}

@media (min-width: 1024px) {
  .form {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 50px;
  }

  .background {
    display: none;
  }
}

@media (min-width: 1440px) {
  .form {
    justify-content: center;
    gap: 100px;
    margin: auto;
  }

  .medicallInfos {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
  }
}
