.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-600);
  padding-bottom: 15px;
  padding-top: 20px;
  background-color: transparent;
}

.margin {
  margin-top: 50px;
}

.top_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 9px;
}

.sub_description {
  color: var(--blue-600);
  font-weight: 600;
  max-width: 60%;
  text-align: center;
  margin-bottom: 15px;
}

.title {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

.images_container {
  width: 80%;
}

.swiper {
  height: 120px;
}

.line {
  display: none;
}

.banner {
  height: auto;
  width: 25vw;
}

.mobile_background {
  background-color: transparent;
  background-image: url('../../assets/backgroud_clients.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper_slide {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-top: 50px;
  }

  .swiper {
    height: 200px;
  }

  .sub_description {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .main {
    margin-top: 0;
    background-color: #FBF8F8;
    padding-bottom: 30px;
  }

  .sub_description {
    font-size: 16px;
  }

  .title {
    font-size: 40px;
  }

  .line {
    display: block;
    margin-top: 10px;
    background-image: linear-gradient(to right, var(--gray-600), #1A88FF);
    height: 3px;
    width: 70%;
    border-radius: 8px;
  }

  .swiper {
    height: 200px;
  }

  .swiper_slide {
    display: flex;
  }

  .banner {
    margin: auto;
    max-width: 150px;
  }
}

@media (min-width: 1300px) {
  .banner {
    height: auto;
    max-width: 150px;
  }
}

@media (min-width: 1440px) {
  .images_container {
    max-width: 1440px;
  }

  .banner {
    width: 60%;
  }
}