.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 46px;
  margin-top: 42px;
  width: 100vw;
}

.top {
  color: var(--blue-700);
  font-weight: 900;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  gap: 4px;
}

.type {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}

.line {
  display: block;
  background-image: linear-gradient(to right, #fff, #1A88FF);
  height: 3px;
  margin-top: 4px;
}

.products_container {
  display: flex;
  gap: 12px;
  width: 100%;
  height: 430px;
  max-width: 1400px;
}

.swiper_slide {
  height: 375px !important;
}

@media (min-width: 769px) {
  .products_container {
    height: 620px;
  }
}

@media (min-width: 1024px) {
  .products_container {
    height: 480px;
  }
}

@media (min-width: 1300px) {
  .products_container {
    width: 95%;
  }
}

@media (min-width: 1440px) {
  .products_container {
    height: 450px;
  }
}