.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 46px;
  margin-top: 42px;
  width: 100vw;
}

.top {
  color: var(--blue-700);
  font-weight: 900;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  gap: 4px;
}

.type {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}

.line {
  display: block;
  background-image: linear-gradient(to right, #fff, #1A88FF);
  height: 3px;
  margin-top: 4px;
}

.products_container {
  display: flex;
  gap: 12px;
  width: 90%;
  height: 380px;
}