.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 42px;
  width: 100vw;
}

.top {
  color: var(--blue-700);
  font-weight: 900;
}

.title_container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  gap: 4px;
}

.type_container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.type {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
}

.line {
  display: block;
  border-radius: 8px;
  background-image: linear-gradient(to right, #fff, #1A88FF);
  height: 3px;
  margin-top: 4px;
  width: 100%;
}

.products_container {
  display: flex;
  gap: 12px;
  width: 100%;
  height: 385px;
  max-width: 1400px;
}

.swiper_slide {
  height: 375px !important;
}

@media (min-width: 425px) {
  .products_container {
    height: 430px;
  }
}

@media (min-width: 769px) {
  .products_container {
    height: 620px;
  }
}

@media (min-width: 1024px) {
  .main {
    margin-top: 0;
  }

  .products_container {
    height: 430px;
  }
}

@media (min-width: 1300px) {
  .products_container {
    width: 95%;
  }
}

@media (min-width: 1440px) {
  .products_container {
    height: 450px;
  }
}