.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 120px;
  max-width: 1400px;
  margin: auto;
  padding-top: 20px;
  margin: auto 25px;
}

.main_container {
  display: flex;
  flex-direction: column;
}

.groupName_title_content {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 21px;
}

.groupName_menu_icon {
  margin-right: 11px;
}

.groupName_title {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.groupName_title_label {
  font-weight: 500;
}

.line_mobile {
  display: block;
  height: 2px;
  border-radius: 0px 5.47619px 5.47619px 0px;
  background: linear-gradient(90deg, transparent 0%, #1887FF 40%);
}

.line {
  display: none;
}

.groupName_label_name {
  font-size: 21px;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 16px;
}

.groupName_label {
  display: none;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
}

.products_title {
  display: none;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 36px;
}

.products_container {
  display: grid;
  grid: auto-flow / repeat(1, 1fr);
  justify-items: center;
  gap: 10px;
  column-gap: 10px;
}

.product {
  width: 180px;
}

.divisorLine {
  display: block;
  height: 3px;
  width: 95%;
  margin-bottom: 22px;
  border-radius: 40px;
  background: linear-gradient(90deg, #FFFFFF 2.53%, #1887FF 100%);
  margin: 30px 0;
}

.searchBar_container {
  display: flex;
  margin-bottom: 46px;
}

.searchBar_input {
  display: flex;
  border: 1px solid #A6A6A6;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 100%;
  padding: 12px 22px;
  font-size: 13.5px;
  outline: none;
}

.searchBar_button {
  background-color: var(--certificate-button);
  padding: 8px 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.groups_menu {
  display: none;
}

@media (min-width: 375px) {
  .products_container {
    grid: auto-flow / repeat(1, 1fr);
  }
}

@media (min-width: 425px) {
  .products_container {
    grid: auto-flow / repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product {
    width: 100%;
  }

  .products_container {
    grid: auto-flow / repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .main_container {
    flex-direction: row;
    gap: 60px
  }

  .searchBar_container {
    width: 400px;
  }

  .searchBar_input {
    font-size: 14px;
  }

  .groups_container {
    display: flex;
    flex-direction: column;
    height: min-content;
    background-color: var(--gray-650);
    padding: 24px 12px;
    border-radius: 8px;
    box-shadow: 0px 2.9545px 2.9545px rgba(0, 0, 0, 0.25);
  }

  .groupName_title_content {
    flex-direction: column;
    align-items: flex-start;
    gap: 0
  }

  .groupName_title_container {
    width: max-content;
  }

  .groupName_menu_icon {
    display: none;
  }

  .groupName_title {
    font-size: 26px;
    font-style: italic;
    font-weight: 800;
  }

  .line_mobile {
    display: none;
  }

  .line {
    display: block;
    height: 2px;
    border-radius: 0px 5.47619px 5.47619px 0px;
    background: linear-gradient(90deg, #F6F6F6 0%, #0077FF 100%);
    width: 80%;
  }

  .groupName_title_label {
    font-size: 26px;
    font-weight: 600;
  }

  .groupName_label {
    display: block;
    font-size: 15px;
  }

  .groupName_label_name {
    display: none;
  }

  .groups_menu {
    display: flex;
  }

  .products_container {
    justify-items: flex-start;
    grid: auto-flow / repeat(3, 1fr);
    column-gap: 10px;
  }

  .product {
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .main {
    max-width: 1440px;
    margin: auto;
    padding-top: 60px;
    margin: auto 40px;
  }

  .products_container {
    grid: auto-flow / repeat(4, 1fr);
  }

  .divisorLine {
    margin: 80px 0;
  }
}

@media (min-width: 1500px) {
  .main {
    margin: auto;
  }
}