.wellcome_container {
  color: var(--white);
  height: 580px;
  padding-left: 180px;
}

.wellcome_title {
  font-size: 60px;
  font-weight: 600;
  max-width: 40%;
  padding-top: 100px;
}

.wellcome_description {
  font-size: 22px;
  font-weight: 400;
  max-width: 35%;
}

.aboutUs_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 1400px;
  margin: auto;
  margin-bottom: 80px;
}

.aboutUs_info_container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.aboutUs_title_shadow {
  font-family: var(--font-mrDafoe);
  font-size: 63px;
  color: var(--gray-550);
}

.aboutUs_title {
  font-size: 42px;
  font-weight: 600;
  position: relative;
  top: -25px
}

.aboutUs_text {
  color: var(--gray-900);
  font-size: 20px;
}

.aboutUs_button {
  background-image: var(--blue-linear-gradient);
  font-size: 18px;
  color: var(--white);
  padding: 20px 60px;
  border-radius: 32px;
  margin-right: auto;
  margin-top: 20px;
  font-weight: 600;
}

.aboutUs_button_mobile {
  display: none;
}

.units_container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  max-width: 1400px;
  margin: auto;
  margin-bottom: 80px;
}

.units_infos_container {
  width: 40%;
}

.units_mainTitle {
  background-color: var(--blue-600);
  color: var(--white);
  font-weight: 600;
  font-size: 42px;
  width: fit-content;
}

.units_title {
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 40px;
}

.units_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.units_list_title {
  font-size: 40px;
  font-weight: 600;
  color: var(--dark-blue-700)
}

.units_list_description {
  color: var(--gray-900);
  margin-top: 12px;
}

.team_container {
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
  margin: auto;
}

.team_infos_container {
  width: 40%;
  color: var(--gray-900);
}

.team_infos_title_shadow {
  font-family: var(--font-mrDafoe);
  font-size: 63px;
  color: var(--gray-550);
}

.team_title_shadow {
  font-family: var(--font-mrDafoe);
  font-size: 63px;
  color: var(--gray-550);
}

.team_title {
  font-size: 42px;
  font-weight: 600;
  position: relative;
  color: var(--blue-600);
  top: -25px
}

.space_container {
  display: flex;
  justify-content: space-between;
  color: var(--gray-900);
  max-width: 1400px;
  margin: auto;
}

.space_infos_container {
  width: 40%;
}

.space_title_shadow {
  font-family: var(--font-mrDafoe);
  font-size: 63px;
  color: var(--gray-550);
}

.space_title {
  font-size: 42px;
  font-weight: 600;
  position: relative;
  color: var(--blue-600);
  top: -25px
}

.slide_container {
  width: 40%;
  margin-bottom: 100px;
}

.image_slide {
  width: 150px;
  height: 150px;
}

.image {
  width: 100%;
  height: 100%;
}

.values_container {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-600);
  margin-bottom: 130px;
}

.values_width {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  height: 620px;
  width: 100%;
}

.values_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(1, 57, 150, 0.45) 0%, rgba(81, 81, 81, 0.45) 100%);
  border-radius: 54px;
  backdrop-filter: blur(5.46023px);
  padding: 0 28px;
  padding-top: 44px;
  padding-bottom: 66px;
  color: var(--white);
  text-align: center;
  min-height: 446px;
  gap: 30px
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue-700);
  padding: 20px;
  border-radius: 100%;
  box-shadow: 0px 0px 536.456px #00254F;
}

.values_text_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.values_card_title {
  font-size: 60px;
  font-weight: bold;
}

.values_card_description {
  font-size: 17px;
  font-weight: 600;
}

.downArrow {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

.downArrowIcon {
  display: flex;
  background-color: var(--blue-400);
  padding: 12px;
  border-radius: 100%;
  border: 20px solid #fff
}

/* Backgrounds */

.circle_points_background {
  display: none;
}

@media (max-width: 769px) {
  .wellcome_container {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    margin-top: 130px;
    height: 260px;
  }

  .wellcome_title {
    font-size: 30px;
    padding-top: 25px;
  }

  .wellcome_description {
    font-size: 18px;
  }

  .aboutUs_container {
    flex-direction: column-reverse;
    padding: 0 24px;
  }

  .aboutUs_info_container {
    width: 100%;
  }

  .aboutUs_title_shadow {
    font-size: 38px;
  }
  
  .aboutUs_title {
    font-size: 28px;
    top: -18px
  }

  .aboutUs_text {
    font-size: 16px;
    padding-bottom: 28px;
  }

  .aboutUs_button {
    display: none;
  }

  .aboutUs_button_mobile {
    background-image: var(--blue-linear-gradient);
    font-size: 18px;
    color: var(--white);
    padding: 20px 60px;
    border-radius: 32px;
    margin-top: 20px;
    font-weight: 600;
    margin: auto;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 32px;
  }

  .units_container {
    flex-direction: column;
    padding: 25px;
  }

  .units_infos_container {
    width: 100%;
    margin-bottom: 38px;
  }

  .units_mainTitle {
    font-size: 32px;
  }
  
  .units_title {
    font-size: 32px;
    margin-bottom: 18px;
  }

  .units_list {
    gap: 22px;
  }
  
  .units_list_title {
    font-size: 22px;
  }

  .units_list_description {
    font-size: 18px;
  }

  .units_image {
    padding: 24px 80px;
  }

  .team_container {
    flex-direction: column;
  }

  .team_infos_container {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 24px;
  }

  .team_title_shadow {
    font-size: 42px;
    text-align: center;
  }
  
  .team_title {
    text-align: center;
    font-size: 28px;
    top: -12px
  }

  .space_container {
    flex-direction: column-reverse;
    padding: 39px 51px;
    background-color: var(--gray-600);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .space_infos_container {
    width: 100%;
    text-align: center;
  }

  .space_title_shadow {
    font-size: 42px;
    padding-top: 21px;
  }

  .space_title {
    font-size: 28px;
    top: -15px;
  }

  .slide_container {
    width: 100%;
    margin-bottom: 0;
  }

  .space_description {
    font-size: 16px;
    font-weight: 500;
  }

  .values_width {
    height: 680px;
  }
}

@media (min-width: 2560px) {
  .wellcome_container {
    height: 850px;
    padding-left: 22%;
  }

  .wellcome_title {
    padding-top: 180px;
    max-width: 25%;
  }
}

@media (max-width: 426px) {
  .wellcome_container {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    height: 466px;
  }

  .wellcome_title {
    font-size: 26px;
    max-width: 100%;
    text-align: center;
    padding-top: 25px;
  }

  .wellcome_description {
    font-size: 10px;
    max-width: 100%;
    padding: 0 20px;
    text-align: center;
  }

  .aboutUs_container {
    flex-direction: column-reverse;
    padding: 0 24px;
    margin-bottom: 10px;
  }

  .aboutUs_info_container {
    width: 100%;
  }

  .aboutUs_title_shadow {
    font-size: 30px;
  }
  
  .aboutUs_title {
    font-size: 20px;
    top: -15px
  }

  .aboutUs_text {
    font-size: 12px;
    padding-bottom: 28px;
  }

  .aboutUs_button {
    display: none;
  }

  .aboutUs_button_mobile {
    display: block;
    background-image: var(--blue-linear-gradient);
    font-size: 18px;
    color: var(--white);
    padding: 20px 60px;
    border-radius: 32px;
    margin-top: 20px;
    font-weight: 600;
    margin: auto;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 32px;
  }

  .divisorAboutUs {
    display: block;
    height: 3px;
    width: 90%;
    background: linear-gradient(90deg, #FFFFFF 2.53%, #1887FF 100%);
    border-radius: 4px;
  }

  .units_container {
    flex-direction: column;
    padding: 25px;
    margin-bottom: 10px;
  }

  .units_infos_container {
    width: 100%;
    margin-bottom: 38px;
  }

  .units_mainTitle {
    font-size: 24px;
  }
  
  .units_title {
    font-size: 24px;
    margin-bottom: 18px;
  }

  .units_list {
    gap: 22px;
  }
  
  .units_list_title {
    font-size: 18px;
  }

  .units_list_description {
    font-size: 12px;
  }

  .units_image {
    padding: 24px;
  }

  .map_background_sp {
    position: absolute;
    z-index: -1;
    left: -50px;
    transform: translateY(680);
  }

  .map_background_mg {
    position: absolute;
    z-index: -1;
    transform: translateY(400);
    right: 0px;
  }
  
  .unitsDivisorMobile {
    position: absolute;
    width: 100%;
    transform: translateY(-50px);
    height: 50px;
  }

  .team_container {
    flex-direction: column;
  }

  .team_infos_container {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 24px;
  }

  .team_title_shadow {
    font-size: 38px;
    text-align: center;
  }
  
  .team_title {
    text-align: center;
    font-size: 25px;
    top: -12px
  }

  .space_container {
    flex-direction: column-reverse;
    padding: 39px 51px;
    background-color: var(--gray-600);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .space_infos_container {
    width: 100%;
    text-align: center;
  }

  .space_title_shadow {
    font-size: 38px;
    padding-top: 21px;
  }

  .space_title {
    font-size: 25px;
    top: -15px;
  }

  .space_description {
    font-size: 13px;
    font-weight: 500;
  }

  .slide_container {
    width: 100%;
    margin-bottom: 0;
  }

  .values_slide_container {
    height: 800px;
  }

  .values_width {
    height: 530px;
  }

  .values_card {
    width: 280px;
    padding: 34px;
    min-height: 314px;
  }

  .icon_svg {
    width: 90px;
    height: 90px;
  }

  .values_text_container {
    gap: 14px
  }

  .values_card_title {
    font-size: 30px;
  }

  .values_card_description {
    font-size: 10px;
  }
}
